*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.post{
    margin-left: 8.5%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 83%;
    border-radius: 20px;
}

#form{
    width: 400px;
    height: 40px;
    margin-top: 30px;
    margin-left: 8.5%;
    display: flex;
    justify-content: space-evenly;
}

#title{
    height: 30px;
    width: 90px;
}
#body{
    height: 30px;
    width: 140px;
}
#user-id{
    height: 30px;
}
#btn{
    height: 30px;

}
#check{
    margin-left: 150px;
}